name: Deployment Excr
on: 
  pull_request:
    types:
      - opened
jobs: 
                 
  deploy: 
    runs-on: ubuntu-latest
    steps: 
      - name: Get code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: lint testing script
        run: npm run lint 
      - name: Testing
        run: npm run test   
      - name: Build Code
        run: npm run build  
      - name: Deployment
        run: echo "Deploying ...."        